.header_nav{
  padding: 0 20px;
}

.content{
  min-height: calc(100vh - 74px - 60px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.validate {
  border-color: blue;
}

.search-btn{
  position: absolute;
  top: 0;
  right: 0;
}
label:not(:last-child) {
  margin-left: 1rem;
}